{% extends "base/main.html" %}
{% load app_filters %}

{% block content %}
    {% include "base/navar.html" %}
    <h1>Lista de {{ model_name_plural }}</h1>
    <a class="btn btn-primary" href="{{ create_url }}">Crear {{ model_name }}</a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header|capfirst }}</th>
                {% endfor %}
                <th colspan="{% if children_list_url_name %}3{% else %}2{% endif %}">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                <tr>
                    {% for field in fields %}
                        <td>
                            {% if model_name == 'Archivo' and field == 'archivo' and object.archivo %}
                                <!-- Botón para abrir la modal -->
                                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#archivoModal-{{ object.pk }}">
                                    Ver Archivo
                                </button>
                            {% elif model_name == 'Archivo' and field == 'archivo' %}
                                <!-- No hay archivo para mostrar -->
                                <span>No disponible</span>
                            {% else %}
                                {{ object|get_attribute:field }}
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% if children_list_url_name %}
                    <td><a class="btn btn-info btn-sm" href="{% url children_list_url_name object.pk %}">Ver {{ children_model_name_plural }}</a></td>
                    {% endif %}
                    <td><a class="btn btn-warning btn-sm" href="{% url update_url_name object.pk %}">Editar</a></td>
                    <td><a class="btn btn-danger btn-sm" href="{% url delete_url_name object.pk %}">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if model_name == 'Archivo' %}
        {% for object in object_list %}
            {% if object.archivo %}
            <!-- Modal para cada archivo -->
            <div class="modal fade" id="archivoModal-{{ object.pk }}" tabindex="-1" aria-labelledby="archivoModalLabel-{{ object.pk }}" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="archivoModalLabel-{{ object.pk }}">{{ object.nombre }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% if object.archivo|is_image %}
                                <!-- Si es una imagen, usar <img> con cache busting -->
                                <img src="{{ object.archivo|bust_cache_url }}" class="img-fluid" style="max-height: 80vh; margin: auto; display: block;" alt="{{ object.nombre }}">
                            {% else %}
                                <!-- Para otros archivos (PDFs), usar iframe con cache busting -->
                                <iframe src="{{ object.archivo|bust_cache_url }}" style="width:100%; height:75vh;" frameborder="0"></iframe>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% include "base/footer.html" %}
{% endblock content %}
