<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Archivos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
      body {
        background-color: #ced4da; /* Un fondo gris aún más oscuro para mayor contraste */
      }
      .bg-custom-nav {
        background-color: #4a6984; /* Un azul grisáceo, moderno y sereno */
      }
      .navbar-dark .navbar-nav .nav-link.active {
        background-color: rgba(255, 255, 255, 0.1);
        border-bottom: 3px solid #0dcaf0; /* Color cian (info de Bootstrap) para un look moderno */
        border-radius: .25rem .25rem 0 0;
      }
    </style>
  </head>
  <body >
    <main class="d-flex flex-column min-vh-100">
      {% include "base/navar.html" %}
      {% block content %}

      {% endblock content %}
      {% include "base/footer.html" %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>