{% extends "base/main.html" %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="flex-grow: 1; min-height: 80vh;">
    <div class="card shadow-lg" style="width: 100%; max-width: 400px;">
        <div class="card-header bg-primary text-white text-center">
            <h5 class="mb-0"><i class="fas fa-sign-in-alt me-2"></i>Iniciar Sesión</h5>
        </div>
        <div class="card-body p-3">
            {% if form.errors %}
            <div class="alert alert-danger">
                Tu nombre de usuario y contraseña no coinciden. Por favor, inténtalo de nuevo.
            </div>
            {% endif %}

            <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">{{ form.username.label }}:</label>
                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">{{ form.password.label }}:</label>
                    <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control">
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
                <div class="text-center mt-1">
                    <a href="{% url 'users:password_reset' %}">¿Olvidó su contraseña?</a>
                </div>
            </form>
        </div>
        <div class="card-footer text-center py-3">
            <a href="{% url 'users:register' %}" class="btn btn-success btn-sm">Crear nueva cuenta</a>
        </div>
    </div>
</div>
{% endblock %}