{% extends "base/main.html" %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="flex-grow: 1;">
    <div class="card shadow-lg" style="width: 100%; max-width: 550px;">
        <div class="card-header bg-success text-white text-center">
            <h4 class="mb-0"><i class="fas fa-check-circle me-2"></i>Éxito</h4>
        </div>
        <div class="card-body p-4 text-center">
            <p>Tu contraseña ha sido cambiada exitosamente.</p>
            <a href="{% url 'users:profile' %}" class="btn btn-primary mt-3">Volver al Perfil</a>
        </div>
    </div>
</div>
{% endblock %}