{% extends "base/main.html" %}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="flex-grow: 1;">
    <div class="card shadow-lg" style="width: 100%; max-width: 500px;">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">Establecer Nueva Contraseña</h4>
        </div>
        <div class="card-body p-4">
            {% if validlink %}
                <p class="text-center text-muted mb-4 fs-5">Por favor, introduce tu nueva contraseña.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva contraseña:</label>
                        <input type="password" name="new_password1" required id="id_new_password1" class="form-control">
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmar nueva contraseña:</label>
                        <input type="password" name="new_password2" required id="id_new_password2" class="form-control">
                        {{ form.new_password2.errors }}
                    </div>
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">Cambiar mi contraseña</button>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-danger text-center">
                    <p>El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado. Por favor, solicita un nuevo restablecimiento de contraseña.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}