{% extends "base/main.html" %}

{% block content %}
    {% include "base/navar.html" %}
    <h1>Lista de Ambientes</h1>
    <a class="btn btn-primary" href="{% url 'ambiente:ambiente_create' %}">Crear Ambiente</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for post in object_list %}
                <tr>
                    <td>{{ post.nombre }}</td>
                    <td>{{ post.descripcion }}</td>
                    
                    <td><a class="btn btn-secondary" href="{% url 'ambiente:ambiente_update' post.pk %}">Editar</a></td>
                    <td><a class="btn btn-secondary" href="{% url 'ambiente:ambiente_delete' post.pk %}">Borrar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "base/footer.html" %}
{% endblock content %}